.grid.calendario
  .col-1-1
    = image_tag 'titel.svg', class: 'titleimage'
  - @doors.each do |door|
    .col-1-3.mobile-col-1-3
      .content
        .day
          - if door.kind == 'normal' || door.kind == 'gross'
            = image_tag "door0.png"
            .door.normal
              %h1= door.number
            .prize
              = link_to door_path(door) do
                = image_tag "door#{door.number}.png"
          - if door.kind == 'zu'
            = image_tag "door0.png"
            .door.zu
              %h1= door.number

:javascript
  $('.door').on('click', function(){
  $(this).toggleClass('open');
  });
